/* Restaurant Flip CSS */

body {
	
	margin: 0;
	padding: 0;
	width: 100%;
	
}

h1 {
	text-align: center;
	text-decoration: underline;
	margin: 0px 0px 0px 0px;
}

h2 {

	
}

.carousel-inner > .item > img {
    margin: 0 auto;
}




/*
ul.dropdown-menu {
	text-align: center;
}



  
  
 ul {
	list-style-type:none;
	text-align: center;
}
*/